In [38]:
list1=["camaro", "gwagon", "mazda"]
print(list1)

['camaro', 'gwagon', 'mazda']

In [3]:
#    >>------->     positive indexing

print(list1[0])
print(list1[1])
print(list1[2])

camaro
gwagon
mazda

In [6]:
print(list1[-1])
print(list1[-2])
print(list1[-3])

#  negative indexing  <----------<<

mazda
gwagon
camaro

In [9]:
w=range(0,6)
print(w)

for t in w:
    print(t)

range(0, 6)
0
1
2
3
4
5

In [14]:
# range of indexes 

print(list1)

['camaro', 'gwagon', 'mazda', 'trackhawk', 'trackhawk']
['camaro', 'gwagon', 'mazda', 'trackhawk', 'trackhawk']
['gwagon', 'mazda']

In [31]:
# Range of item values

list1= ['camaro', 'gwagon', 'mazda', 'trackhawk', 'minicooper']
print(list1)
print(list1[1:3])
print(list1[0:2])
print(list1[1:])
print(list1[-4:-1])

['camaro', 'gwagon', 'mazda', 'trackhawk', 'minicooper']
['gwagon', 'mazda']
['camaro', 'gwagon']
['gwagon', 'mazda', 'trackhawk', 'minicooper']
['gwagon', 'mazda', 'trackhawk']

In [35]:
if "minicooper" in list1: 
    print("yes, minicooper exists")

yes, minicooper exists

In [54]:
# change the item value 
list1= ['camaro', 'gwagon', 'mazda', 'trackhawk', 'minicooper']
print(list1)
list1[2]="dodge"
print(list1)

['camaro', 'gwagon', 'mazda', 'trackhawk', 'minicooper']
['camaro', 'gwagon', 'dodge', 'trackhawk', 'minicooper']

In [55]:
# # Change the range of item values 
list1[1:3] = ["urus", "durango"]
print(list1)

['camaro', 'urus', 'durango', 'trackhawk', 'minicooper']

In [56]:
list1[1:2] = ["mazda", "shelby"]
print(list1)

['camaro', 'mazda', 'shelby', 'durango', 'trackhawk', 'minicooper']

In [57]:
list1.insert(2, "gwagon")
print(list1)

['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper']

In [66]:
# append

list1.append("supra")
print(list1)

list1 = ['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra']
print(list1)

['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra', 'supra']
['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra']

In [74]:
list1 = ['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra']
print(list1)
list2 = ["diavel", "scrambler", "daytona", "husqvarna", "benelli600i"]
print(list2)

flighttuple = ("goair", "spicejet")
print(flighttuple)

['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra']
['diavel', 'scrambler', 'daytona', 'husqvarna', 'benelli600i']
('goair', 'spicejet')

In [72]:
# list1.extend(list2)
# mine = list1

# print(mine)

['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra', 'diavel', 'scrambler', 'daytona', 'husqvarna', 'benelli600i']

In [77]:
# list1.extend(flighttuple)
print(list1)
mine2 = list1

print(mine2)

['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']
['camaro', 'mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

In [78]:
mine2.remove("camaro")
print(mine2)

['mazda', 'gwagon', 'shelby', 'durango', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

In [79]:
mine2.pop(3)
print(mine2)

['mazda', 'gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

In [86]:
mine3 = ['mazda', 'gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

del mine3[0]
print(mine3)

mine4 = mine3

['gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

In [85]:
del mine3
# print(mine3)

In [87]:
print(mine4)

mine4.clear()
print(mine4)

['gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']
[]

In [90]:
# loop through a list 

richie =  ['mazda', 'gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

print(len(richie))

for x in richie:
    print(x)

8
mazda
gwagon
shelby
trackhawk
minicooper
supra
goair
spicejet

In [89]:
# loop through the index numbers 

for x in range(len(richie)):
    print(richie[x])

mazda
gwagon
shelby
trackhawk
minicooper
supra
goair
spicejet

In [94]:
print(richie)
i = 0 

print(len(richie))

while i < len(richie):
    print(richie[i])
    i = i + 1

['mazda', 'gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']
8
mazda
gwagon
shelby
trackhawk
minicooper
supra
goair
spicejet

In [95]:
# list comprehension
richie =  ['mazda', 'gwagon', 'shelby', 'trackhawk', 'minicooper', 'supra', 'goair', 'spicejet']

newlist = []

for x in richie: 
    if "a" in x: 
        newlist.append(x)
        

print(newlist)

['mazda', 'gwagon', 'trackhawk', 'supra', 'goair']

In [97]:

newlist2 = []

for y in newlist:
    if "o" in y:
        newlist2.append(y)
        
print(newlist2)

['gwagon', 'goair']

In [99]:
# Looping using the list comprehension 

flights = ['goair', 'emirates', 'spicejet', 'Indigo']

newflight = [x for x in flights ]

print(newflight)

['goair', 'emirates', 'spicejet', 'Indigo']

In [102]:
print(newflight)

newflight2 = [y for y in newflight if "a" in y]


print(newflight2)

['goair', 'emirates', 'spicejet', 'Indigo']
['goair', 'emirates']

In [103]:
fleet = [z for z in newflight if z != "Indigo"]

# for emirates in newflight if emirates != Indigo , then print Emirates 


print(fleet)

['goair', 'emirates', 'spicejet']

In [104]:
for x in range(10): 
    # range is 0,1,2,3...n-1
    
    print(x)

0
1
2
3
4
5
6
7
8
9

In [105]:
goat = [x for x in range(10)]

print(goat)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]