In [1]:
# tuple : built in data types , ()

cars = ("camaro", "porsche", "rolls-royce")
print(cars)

('camaro', 'porsche', 'rolls-royce')

In [3]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")
print(cars1)
print(len(cars1))

('camaro', 'porsche', 'rolls-royce', 'camaro')
4

In [4]:
bike = ('rx100',)
print(type(bike))

bike1 = ('rx100')
print(type(bike1))

<class 'tuple'>
<class 'str'>

In [6]:
sai = ("25", "Hyd", True, "male")

print(sai)
print(type(sai))

('25', 'Hyd', True, 'male')
<class 'tuple'>

In [10]:
cars = tuple(("camaro", "porsche", "rolls-royce"))
print(cars)
print(type(cars))

print(cars[1])
print(cars[-1])

('camaro', 'porsche', 'rolls-royce')
<class 'tuple'>
porsche
rolls-royce

In [11]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")
print(cars1[1:3])

('porsche', 'rolls-royce')

In [14]:
print(cars1[:3])

('camaro', 'porsche', 'rolls-royce')

In [15]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")



if "camaro" in cars: 
    print("yes , present")

yes , present

In [16]:
if "nano" in cars: 
    print("yes , present")

In [25]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")

# cars1[1] = "audi"  #---> will throw an error as TypeError: 'tuple' object does not support item assignment

print(cars1)



# cars1.append("rolls-royce")   # AttributeError: 'tuple' object has no attribute 'append'

print(y)

('camaro', 'porsche', 'rolls-royce', 'camaro')

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
y = list(cars1)

print(y)
print(type(y))

['camaro', 'porsche', 'rolls-royce', 'camaro']
<class 'list'>

In [19]:
y[2] = "dodge"

print(y)

y.append("rolls-royce")

print(y)

['camaro', 'porsche', 'dodge', 'camaro']

In [26]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")
b = ("trackhawk",)

cars1 += b

print(cars1)

('camaro', 'porsche', 'rolls-royce', 'camaro', 'trackhawk')

In [27]:
# cars1.remove("camaro")
# print(cars1)


# AttributeError: 'tuple' object has no attribute 'remove'

AttributeError: 'tuple' object has no attribute 'remove'

In [30]:
cars1 = ("camaro", "porsche", "rolls-royce", "camaro")

(yellow, red, black, white) = cars1


print(yellow)
print(red)
print(black)

camaro
porsche
rolls-royce

In [40]:
cars2 = ("camaro", "porsche", "trackhawk", "hoonigan", "Ferari", "rolls-royce", "camaro")

(yellow,  *black, white) = cars2


print(yellow)
print(black)
print(white)

camaro
['porsche', 'trackhawk', 'hoonigan', 'Ferari', 'rolls-royce']
camaro

In [37]:
cars2 = ("camaro", "porsche", "trackhawk", "hoonigan", "Ferari", "rolls-royce", "camaro")

for c in cars2:
    print(c)

camaro
porsche
trackhawk
hoonigan
Ferari
rolls-royce
camaro

In [39]:
for i in range(len(cars2)):
    print(cars2[i])

camaro
porsche
trackhawk
hoonigan
Ferari
rolls-royce
camaro

In [42]:

i = 0 
while i < len(cars2):
    print(cars2[i])
    i = i + 1

camaro
porsche
trackhawk
hoonigan
Ferari
rolls-royce
camaro

In [44]:
t1 = ("s", "a", "i")
t2 = (1, 2, 3)

t3 = t1 + t2
print(t3)

t4 = t3 * 2

print(t4)

('s', 'a', 'i', 1, 2, 3)
('s', 'a', 'i', 1, 2, 3, 's', 'a', 'i', 1, 2, 3)