In [51]:
print("Guido van rossum")
print('hey there ! welcome to the python session')
print('pagani')
print('tesla')
print("g-wagon")
print("we had an introduction class 21st July  and python installtion class on 23 July ")

Guido van rossum
hey there ! welcome to the python session
pagani
tesla
g-wagon

In [52]:
if 50 > 2:
    print("50 is greater than 2")

50 is greater than 2

In [53]:
if -50 > 2:
    print("50 is greater than 2")

In [54]:
12+365

377

In [55]:
100-55

45

In [56]:
5

5

In [57]:
a = 5 
print(a)
a = 6
print(a)
print("a")
print("sai vijay")
print(type(a))
#print(sai vijay)  
# 
# #remove the # sign and run the code to view the error

5
6
a
sai vijay
<class 'int'>

In [58]:
a = "1"
print(type(a))

b = 2
print(type(b))

c = 3

#sum = a + b
sum1 = b + c
print(sum1)

<class 'str'>
<class 'int'>
5

In [59]:
s = "sai"
v = "vijay"

print (s,v)
print(type(s))
print(type(v))

add = s + v
print(add)

sai vijay
<class 'str'>
<class 'str'>
saivijay

In [60]:
a = 20.8
print(a)
print(type(a))

b = 67
print(b)
print(type(b))

c = a + b
print(c)
print(type(c))

20.8
<class 'float'>
67
<class 'int'>
87.8
<class 'float'>

In [61]:
a = 23
b = "sai vijay"

print(a,b)
print(type(a),type(b))

23 sai vijay
<class 'int'> <class 'str'>

In [62]:
# naming conventions as accepted in python

myname = "maserati"
my_name_car = "maserati" # snake casing
_my_name = "maserati"
myName = "maserati"  # camel casing
MYNAME = "maserati"
myname21 = "maserati"
MyName = "maserati" # pascal casing 

#print(myname,my_name,_my_name)
#print(myName,MYNAME,myname21)


my21name = "maserati"
print(my21name)


#21myname = "maserati"
# print(21myname)  
#my name = "maserati"
#print(my name)

#my-name = "maserati"
#print(my-name)

# uncomment the above to run and check the error

maserati

In [63]:
a, b, c, d, e = "merc", "volvo", "shelby", "pagani", "minicooper"
print(a, b, c, d, e)

merc volvo shelby pagani minicooper

In [64]:
a,b,c,d,e = "merc","volvo","shelby","pagani","minicooper"\
    
print(a,b,c,d,e)

merc volvo shelby pagani minicooper

In [65]:
x = y = z = "bugati veron"

print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

bugati veron
<class 'str'>
bugati veron
<class 'str'>
bugati veron
<class 'str'>

In [66]:
cars = ["nano", "zen", "indica", "indigo", "wagonr", "santro"]

a, b, c, d, e, f = cars 

print(a, b, c, d, e, f)

nano zen indica indigo wagonr santro

In [67]:
x = "G-wagon"
print("mercedes is the proprietor for " +x)

y = "mercedes"

z = "sai vijay"

print(z+ " owns a franchise of " +y + " he drives " +x)

mercedes is the proprietor for G-wagon
sai vijay owns a franchise of mercedes he drives G-wagon

In [68]:
t = "25"
v = 20 

s = "sai vijay "

#h = t + v 
#print(h) # we cannot add string to the integer / decimal(float)

n = t + s
print(n)

25sai vijay

In [70]:
print("print-func,\ntype of variable,\naccepted conventions of variables,\nintegers,\nfloat,\nstrings ")

print-func,
type of variable,
accepted conventions of variables,
integers,
float,
strings