In [3]:
# lists []
# tuples ()
# sets {}

list1 = ["cars","bikes","trucks"]
tup1 = ("cars","bikes","trucks") # tuple
set1 = {"cars","bikes","trucks"}
print(set1)
# sets are unordered and unindexed , set items dont allow any duplicate items
print(list1)
print(tup1)

{'trucks', 'cars', 'bikes'}
['cars', 'bikes', 'trucks']
('cars', 'bikes', 'trucks')

In [5]:
set1 = {"cars","bikes","trucks","cars"} # strings
print(set1)
print(len(set1))

set2 = {1,2,3,4,5} #int 

set3 = {True, False, True} # boolean

{'trucks', 'cars', 'bikes'}
3

In [7]:
set4 = {"abs", 26, True, "male"}

print(set4)

print(type(set4))

{True, 26, 'abs', 'male'}
<class 'set'>

In [8]:
# set() constructor
set1 = set(("cars","bikes","trucks","cars"))

print(set1)

{'trucks', 'cars', 'bikes'}

In [13]:
set1 = {"cars","bikes","trucks","cars"}

for x in set1:
    print(x)

trucks
cars
bikes

In [17]:
set1 = {"cars","bikes","trucks","cars"}

print("cars" in  set1)

print("trains" in set1)

True
False

In [18]:
set1.add("trains")
print(set1)

{'trucks', 'cars', 'bikes', 'trains'}

In [24]:
set1 = {"cars","bikes","trucks","cars"} # strings
print(set1)

set2 = {1,2,3,4,5} #int 
print(set2)


set3 = {True, False, True} # boolean

print(set3)


set1.update(set2)
print(set1)

set7 = set1

print(set7)

{'trucks', 'cars', 'bikes'}
{1, 2, 3, 4, 5}
{False, True}
{1, 2, 3, 'bikes', 4, 5, 'trucks', 'cars'}
{1, 2, 3, 'bikes', 4, 5, 'trucks', 'cars'}

In [25]:
cars = ["gwagon", "trackhawk", "minicooper"]

cars1 = {"tesla cybertruck", "fortuner", "pajero"}

cars1.update(cars)
print(cars1)

{'gwagon', 'tesla cybertruck', 'trackhawk', 'minicooper', 'fortuner', 'pajero'}

In [26]:
cars1.remove("minicooper")
print(cars1)

{'gwagon', 'tesla cybertruck', 'trackhawk', 'fortuner', 'pajero'}

In [27]:
cars1.discard("gwagon")
print(cars1)

{'tesla cybertruck', 'trackhawk', 'fortuner', 'pajero'}

In [28]:
# x = cars1.pop()
# print(x)

print(cars1)

tesla cybertruck
{'trackhawk', 'fortuner', 'pajero'}

In [30]:
# del cars1 ## we just deleted 
# print(cars1)

NameError: name 'cars1' is not defined

In [31]:
cars1 = {'gwagon', 'tesla cybertruck', 'trackhawk', 'minicooper', 'fortuner', 'pajero'}

cars2 = {"corvette", "dodge", "shelby"}


cars3 = cars1.union(cars2)

print(cars3)

{'gwagon', 'tesla cybertruck', 'trackhawk', 'minicooper', 'shelby', 'fortuner', 'pajero', 'corvette', 'dodge'}

In [32]:
fruits = {"apple", "banana", "cherry"}

IT = {"apple", "microsoft", "google"}

fruits.intersection_update(IT)

print(fruits)

{'apple'}

In [33]:
fruits = {"apple", "banana", "cherry"}

IT = {"apple", "microsoft", "google"}

mix = fruits.intersection(IT)

print(mix)

{'apple'}

In [34]:
#  keep all but not the duplicates
fruits = {"apple", "banana", "cherry"}

IT = {"apple", "microsoft", "google"}


fruits.symmetric_difference_update(IT)

print(fruits)

{'cherry', 'banana', 'google', 'microsoft'}

In [37]:
fruits = {"apple", "banana", "cherry"}

IT = {"apple", "microsoft", "google"}


z = fruits.symmetric_difference(IT)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}